.Header {
    display: flex;
    justify-content: center;
}

.Content {
    display: flex;
    justify-content: center;
}

.LeftBlock {
    display: flex;
    justify-content: center;
    height: 400px;
    width: 800px;
}

.RightBlock {
    display: flex;
    justify-content: center;
}

.Search {
    display: flex;
    justify-content: center;
}

.Lists {
    display: flex;
    justify-content: center;
}

.Footer {
    display: flex;
    justify-content: center;
}
