* {
    margin: 0;

    body {
        background-color: #d7ccc8;
    }

    .Header {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #a69b97;
        font-family: 'Orbitron',
            sans-serif;
    }

    .Header h1 {
        font-size: 25px;
    }

    .Header span {
        font-size: 15px;
        margin-left: 10px;
    }

    .Content {
        display: flex;
        justify-content: center;
        border: 1px solid black;
        margin-top: 50px;
    }

    .LeftBlock {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        width: 800px;
        border: 1px solid black;
    }

    .RightBlock {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        border: 1px solid black;
    }

    .Search {
        display: flex;
        flex-direction: row;
        //justify-content: center;
        border: 1px solid black;
        background-color: #a69b97;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-right: 34px;

        button {
            padding: 6px;
            margin-left: 10px;
            font-family: 'Orbitron',
                sans-serif;
        }

        .input {
            padding: 5px;
            padding-right: 310px;
            padding-left: 15px;
            margin-left: 40px;
            font-family: 'Orbitron', sans-serif;
        }
    }

    ul img {
        position: relative;
        top: 55px;
        left: -35px;
    }

    .Lists {
        display: flex;
        justify-content: center;
        height: 100%;
        border: 1px solid black;
        padding-top: 20px;

        li {
            display: flex;
            text-align: left;
            font-family: 'Quattrocento', serif;
        }
    }
    .Lists ul {
        list-style: none;
        border : 1px solid #a69b97;
        border-radius : 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 5px;
    }

    .card {
        margin: 0;
        padding: 0;
    }
    .cardContent {
        background-color: #d7ccc8;
        margin: 0;
        padding: 0;

        .terminalsName {
            font-family: 'Orbitron', sans-serif;
            font-size: 1.4rem;
            font-weight: bold;
            padding-bottom: 5px;
        }

        .terminalsAddress {
            font-style: italic;
        }
    }

    .cardAction{
        background-color: #a69b97;
        margin: 0;
        padding: 0;
    }

    .Footer {
        display: flex;
        justify-content: center;
        font-size: 12px;
        border: 1px solid black;
        background-color: #a69b97;
        font-family: 'Quattrocento', serif;
    }

}